html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  font-size: 16px; }

input,
button,
submit {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

li {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

body {
  background: #042029;
  font-family: "Merriweather";
  color: #eae3cb; }

#art {
  width: 320px;
  margin: 0 auto; }

#art h2 {
  font-family: "Bree Serif";
  font-size: 2em;
  color: #a57706;
  margin-bottom: 0; }

ul {
  margin: 0 auto;
  padding: 0; }

ul li {
  list-style: none;
  display: inline-block; }

ul li > img {
  width: 100px;
  border: 1px solid #fcf4dc;
  cursor: url(../images/remove-art/magnifying_glass.png), auto; }

ul li {
  position: relative; }

ul li div.preview {
  position: absolute;
  top: -100px;
  left: 110px;
  z-index: 100; }

ul li div.preview img {
  max-width: 400px;
  display: block;
  border: 1px solid #fcf4dc;
  -webkit-box-shadow: 5px 5px 12px black;
  -moz-box-shadow: 5px 5px 12px black;
  box-shadow: 5px 5px 12px black; }
