.circle-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100%;
}

.circle {

	order: 0;
	flex: 0 1 auto;
	align-self: auto;

	width: 100px;
	height: 100px;
	background: green;
	border-radius: 50px;
}