.fruit-container {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

ul.fruit-container li {
	// outline: 1px dotted black;
	flex: 1 1 auto;
	// width: 200px;
	// height: 250px;
	padding: 1.5rem;
	list-style-type: none;
}