.fruit-container {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

ul.fruit-container li {
	// outline: 1px dotted black;
	flex: 1 1 auto;
	// width: 200px;
	// height: 250px;
	padding: 1.5rem;
	list-style-type: none;
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(3600deg);
	}
}

.spinner {
	animation: spinner 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes explode {
	0% { transform: scale(1); }
	75% { transform: scale(2); }
	90% { transform: scale(0.6); }
	93% { transform: scale(1.4); }
	95% { transform: scale(0.8); }
	97% { transform: scale(1.2); }
	100% { transform: scale(1); }
}

.explode {
	animation: explode 2s;
}

@keyframes rattle {
	0%, 100% {transform: translateY(0);}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {transform: translateY(-20px);}
	10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {transform: translateY(20px);}
}

.rattle {
	animation: rattle 2s;
}

@keyframes shuffle {
	0% {transform: translateY(0);}
	12% {transform: translateX(-100px) rotate(-20deg);}
	25% {transform: translateY(-20px);}
	37% {transform: translateX(-100px) rotate(20deg);}
	50% {transform: translateY(20px);}
	62% {transform: translateX(-100px) rotate(-20deg);}
	75% {transform: translateY(-20px);}
	87% {transform: translateX(-100px) rotate(20deg);}
	100% {transform: translateY(0);}
}

.shuffle {
	animation: shuffle 2s;
}

@keyframes whipper {
	0% {transform: translateX(0) translateY(0) scale(1, 1);}
	10% {transform: translateX(60px) translateY(-60px) scale(1.5, 1.5);}
	20% {transform: translateX(0) translateY(0) scale(.7, .7);}
	30% {transform: translateX(-60px) translateY(-60px) scale(1.5, 1.5);}
	40% {transform: translateX(0) translateY(0) scale(.7, .7);}
	50% {transform: translateX(60px) translateY(-60px) scale(1.5, 1.5);}
	60% {transform: translateX(0) translateY(0) scale(.7, .7);}
	70% {transform: translateX(-60px) translateY(-60px) scale(1.5, 1.5);}
	80% {transform: translateX(0) translateY(0) scale(.7, .7);}
	90% {transform: translateX(60px) translateY(-60px) scale(1.5, 1.5);}
	100% {transform: translateX(0) translateY(0) scale(1, 1);}
}

.whipper {
	animation: whipper 2s;
}